<h1>Galerie photos</h1>

<div class="recherche">

	<div class ="barre">
		<form action="" class="formulaire-recherche">
			<input class="champ" type="text" placeholder="Rechercher une photo"/>  
		</form>
	</div>

	<div class="recherche-tag">
		<% @tags.each do |tag| %>
			<a href="/search/<%= tag %>">
				<div class="tag"><%= tag %></div>
			</a>
		<% end %>  
	</div>

	</div>
	<div class ="ajout">
		<%= link_to 'Ajouter une photo', upload_path %>
	</div>

	<div class="galerie">
		<% @image.each do |i| %>
		<a href="image/<%= i.id %>">
			<%= image_tag i.avatar.url(:medium) %>
		</a>
		<div class="info">
			<div><%= i.titre %></div>
			<div><%= i.tag %></div>
		</div>	
		<% end %>

	</div>

