<div class="galerie-topbar">
	<h1>Galerie photos</h1>

	<div class="galerie-recherche">
		<%= form_tag "/search", :method => 'get' do %>
			<%= text_field_tag :tag, params[:tag], placeholder:"Rechercher des images par tags, exemple \"#{@exemple}\", ... Vous pouvez rechercher plusieurs tags en les séparant par des espaces." %>

			<%= submit_tag 'Rechercher' %>
		<% end %>
	</div>
</div>

<% if !current_page?('/') %>
	<div class="retour-galerie">
		<a href="/"><i class="fa fa-arrow-left"></i>Retour à la galerie</a>
	</div>
<% end %>

<div class="galerie-photos">
	<% if @images == [] %> 
		<div class="aucune-photo">
			Aucune photo ne correspond à votre recherche.
		</div>
	<% else %>
		<% @images.each do |i| %>
			<div class="photos">
				<a href="image/<%= i.id %>">
					<%= image_tag i.avatar.url(:medium) %>
				</a>
				<div class="photos-infos">
					<div><%= i.titre %></div>
					<div>
						<% i.tag.split(' ').each do |tag| %>
							<a href="/search/<%= tag %>"><%= tag %></a>
						<% end %>
					</div>
				</div>	
			</div>	
		<% end %>
	<% end %>

	<% if !current_page?('/') %>
		<div class="retour-galerie">
			<a href="/"><i class="fa fa-arrow-left"></i>Retour à la galerie</a>
		</div>
	<% end %>
</div>


<div class ="galerie-bottombar">
	<%= link_to 'Ajouter une photo', upload_path %>
</div>
