<h1>Galerie photos by SimplonVE</h1>

<div class="recherche">

	<div class ="barre">
		<form action="" class="formulaire">
			<input class="champ" type="text" placeholder="Rechercher une photo"/>  
			<input class="bouton" type="button" value="OK"/> 
		</form>
	</div>

	<div class="tag">
		<dl class ="listetag">
			<dt><div>
				<% @tags.each do |tag| %>
				<a href="/search/<%= tag %>">
					<%= tag %>
				</a>
				<% end %>  </dt>
			</dl>
		</div>

	</div>
	<div class ="ajout">
		<%= link_to 'Ajouter une photo', upload_path %>
	</div>

	<div class="galerie">
		<% @image.each do |i| %>
		<a href="image/<%= i.id %>">
			<%= image_tag i.avatar.url(:medium) %>
			<%= i.titre %>
			<%= i.tag %>
		</a>
		<% end %>

	</div>

	<footer>
		
	</footer>