<div class="galerie-ajout">
  <div class="galerie-formulaire">
    <h1>Ajouter votre photo</h1>
  
    <%= form_for :upload do |f| %>
	   	<div class="galerie-formulaire-champ">
	   		<%= f.label :titre %>
	   		<%= f.text_field :titre %>
			</div>

			<div class="galerie-formulaire-champ">
			  <%= f.label :tag %>
			  <%= f.text_field :tag %>
			</div>

			<div class="galerie-formulaire-champ">
	    	<%= f.file_field :avatar %>
			</div>

	    <div class="galerie-formulaire-bouton">
	      <%= link_to 'Retour', root_path %>
	      <%= f.submit 'Envoyer' %>
	    </div>
    <% end %>

  </div>
</div>
