<!DOCTYPE html>
<html>
<head>
	<title>GaleriePhotos</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<link href="style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<h1>Galerie photos by SimplonVE</h1>
	
	<div class="recherche">

		<div class ="barre">
	    	<form action="" class="formulaire">
	    	<input class="champ" type="text" value="Rechercher une photo"/>  
	    	<input class="bouton" type="button" value="OK"/> 
	    	</form>
		</div>

		<div class="tag">
				<dl class ="listetag">
					<dt class="theme"> <a href="images_nature" title="imgnat"> foret</a> </dt>
					<dt class="theme"> <a href="images_sport" title="imgnat"> sport</a> </dt>
					<dt class="theme"> <a href="images_animaux" title="imgnat"> lapin</a> </dt>
					<dt class="theme"> <a href="images_véhicule" title="imgnat"> clio</a> </dt>
					<dt class="theme"> <a href="images_animaux" title="imgnat"> lapin</a> </dt>
					<dt class="theme"> <a href="images_véhicule" title="imgnat"> clio</a> </dt>
				</dl>
		</div>

	</div>

	<div class="galerie">
	<p>1</p>
	<p>2></p><p>3</p><p>5</p><p>5</p><p>2></p><p>3</p><p>5</p><p>5</p><p>2></p><p>3</p><p>5</p><p>5</p>



	</div>
	
	<div class ="ajout">
	</div>
	

<%= render 'layouts/flash' %>
<%= yield %>


</body>
</html>
